body {
  background-color: darkslategrey;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  max-width: 100%;
  height: auto;
}

@media (max-width: 1350px) {
  body {
    background-color: darkslategrey;
    height: 850px;
  }
}

* {
  box-sizing: border-box;
}

#Container {
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-basis: 100%;
  /* padding: 10px; */
  /* margin-left: 30px; */
}

@media (max-width: 800px) {
  #Container {
    flex-basis: 100%;
    /* border-right: 0; */
  }
}

.Logo img {
  border: 10px;
  background-color: green;
  border-radius: 0 50% 0 50%;
  box-shadow: 1px 1px 5px rgb(0, 255, 55);
  padding: 5px;
}

.Logo {
  transform: translate(82px, -3px);
  overflow: hidden;
}

.Main-Header {
  flex-basis: 22%;
  text-align: right;
  /* border: 1px solid black; */
  transform: translate(83px, -2px);
  font-size: 30px;
  color: rgb(0, 255, 55);
  text-shadow: 5px 5px 2px black;
}

.Contact {
  flex-basis: 22%;
  /* border: 1px solid black; */
  text-align: right;
  font-size: 30px;
  text-shadow: 5px 5px 2px black;
}

.Services {
  flex-basis: 22%;
  /* border: 1px solid black; */
  text-align: right;
  font-size: 30px;
  text-shadow: 5px 5px 2px black;
}

.Gallery {
  flex-basis: 22%;
  /* border: 1px solid black; */
  text-align: right;
  font-size: 30px;
  text-shadow: 5px 5px 2px black;
}

@media (max-width: 1350px) {
  .Contact,
  .Services,
  .Gallery {
    flex-basis: 100%;
    text-align: left;
  }
}

@media (max-width: 1350px) {
  .Contact {
    margin-bottom: 10px;
    transform: translate(0px, 70px);
  }
}

@media (max-width: 1350px) {
  .Services {
    margin-top: 5px;
    margin-bottom: 15px;
    transform: translate(0px, 70px);
  }
}

@media (max-width: 1350px) {
  .Gallery {
    margin-top: 5px;
    margin-bottom: 35px;
    transform: translate(0px, 70px);
  }
}

@media (max-width: 1350px) {
  .Main-Header {
    flex-basis: 100%;
    text-align: right;
    padding-right: 65px;
    transform: translate(-20px, -185px);
    /* width: 50%; */
  }
}

@media (max-width: 1350px) {
  .Logo {
    flex-basis: 100%;
    text-align: right;
    transform: translate(0px, -245px);
    /* width: 50%; */
  }
}

a {
  text-decoration: none;
  color: rgb(0, 255, 55);
}

a:hover {
  color: rgba(0, 255, 55, 0.486);
}

#Hero {
  background-size: cover;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.7) 50%
    ),
    url('images/Greenhouse.jpg');
  /* display: inline-block; */
  height: 800px;
  width: 101.2%;
  border: 3px double black;
  color: rgb(0, 255, 55);
  text-shadow: 0.15em 0.15em 0.1em #2f4f4f;
  /* text-align: left; */
  text-transform: uppercase;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 5px 0 0 0;
  /* margin-left: initial; */
  transform: translate(-8px, 0px);
  overflow: hidden;
}

#Hero h1,
h3,
p {
  transform: translate(50px, 40px);
}

#Contact-Form {
  color: beige;
  background-color: rgb(0, 255, 55);
  border: 2px solid rgb(0, 255, 55);
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 50px;
  padding: 10px 50px;
  transition: all 1s, padding 0.5s;
  box-sizing: border-box;
}

#Contact-Form:hover {
  background-color: black;
}

@media (max-width: 1350px) {
  #Hero {
    flex-basis: 100%;
    text-align: left;
    transform: translate(-7.5px, -120px);
    height: 600px;
    background-size: cover;
  }
}

@media (max-width: 1350px) {
  #Hero h1 {
    flex-basis: 100%;
    text-align: center;
    transform: translate(-5px, 0);
    margin-left: 7px;
    font-size: 1.5rem;
  }
}

@media (max-width: 1350px) {
  #Hero h3 {
    flex-basis: 100%;
    text-align: center;
    transform: translate(10px, 0);
    margin-left: 7px;
    font-size: 1.5rem;
  }
}

@media (max-width: 1350px) {
  #Hero p {
    flex-basis: 100%;
    text-align: center;
    transform: translate(10px, 0);
    margin-left: 7px;
    font-size: 1.5rem;
  }
}

@media (max-width: 1350px) {
  #Hero a {
    flex-basis: 100%;
    transform: translate(10px, 0);
    margin-left: 60px;
    font-size: 1.2rem;
  }
}

.Footer {
  text-align: right;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: rgb(0, 255, 55);
  text-shadow: 0.15em 0.15em 0.1em #2f4f4f;
  text-shadow: 5px 5px 2px black;
}

@media (max-width: 1350px) {
  .Footer {
    flex-basis: 100%;
    text-align: right;
    transform: translate(-5px, -130px);
    margin-left: 7px;
  }
}
